In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("lista_onibus.csv", sep=',')
df.head

<bound method NDFrame.head of           coluna A                coluna b coluna c  coluna d coluna e
0     fulano silva    fulanosilva@mail.com      xyz  16:40:00        S
1     joão pereira     emailemail@mail.com      ghk  17:00:00        S
2  ciclano andrade      cilcano10@mail.com      ghk  16:40:00        S
3     fulano paiva    paivafulano@mail.com      ltp  16:40:00        S
4      marina sena     marisena10@mail.com      ghk  17:00:00        N
5   xerox silveira  silveiraxerox@mail.com      xyz  16:40:00        S
6  teste de e-mail       mailtest@mail.com      xyz  16:40:00        S
7        rita lees       leesrita@mail.com      ltp  17:00:00        N
8    fu lana teste        fu_lana@mail.com      ghk  16:40:00        S
9   sara joana tes         tes_sj@mail.com      ltp  17:00:00        N>

In [3]:
df = df.rename(columns={"coluna A":"Nome","coluna b":"Email","coluna c":"Faculdade","coluna d":"Horario","coluna e":"Prioridade"})

In [4]:
df.loc[df["Faculdade"] == "xyz", "Prioridade"] = "S"
df.loc[df["Faculdade"] == "xyz", "Horario"] = "16:40:00"
df.loc[df["Faculdade"] != "xyz", "Prioridade"] = "N"
df.loc[df["Faculdade"] != "xyz", "Horario"] = "17:00:00"

In [5]:
df

              Nome                   Email Faculdade   Horario Prioridade
0     fulano silva    fulanosilva@mail.com       xyz  16:40:00          S
1     joão pereira     emailemail@mail.com       ghk  17:00:00          N
2  ciclano andrade      cilcano10@mail.com       ghk  17:00:00          N
3     fulano paiva    paivafulano@mail.com       ltp  17:00:00          N
4      marina sena     marisena10@mail.com       ghk  17:00:00          N
5   xerox silveira  silveiraxerox@mail.com       xyz  16:40:00          S
6  teste de e-mail       mailtest@mail.com       xyz  16:40:00          S
7        rita lees       leesrita@mail.com       ltp  17:00:00          N
8    fu lana teste        fu_lana@mail.com       ghk  17:00:00          N
9   sara joana tes         tes_sj@mail.com       ltp  17:00:00          N

In [6]:
df.to_excel("Lista_de_onibus_tratada.xlsx", index=False)
print("arquivo tratado com sucessso")

arquivo tratado com sucessso